*.iml
/app/.gitignore
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/google-services.json
/app/src/androidTest/java/com/google/firebase/quickstart/auth/AnonymousTest.java
/app/src/androidTest/java/com/google/firebase/quickstart/auth/BaseActivityIdlingResource.java
/app/src/androidTest/java/com/google/firebase/quickstart/auth/EmailPasswordTest.java
/app/src/main/java/com/google/firebase/quickstart/auth/AnonymousAuthActivity.java
/app/src/main/java/com/google/firebase/quickstart/auth/CustomAuthActivity.java
/app/src/main/java/com/google/firebase/quickstart/auth/PhoneAuthActivity.java
/app/src/main/java/com/google/firebase/quickstart/auth/TokenBroadcastReceiver.java
/app/src/main/java/com/google/firebase/quickstart/auth/TwitterLoginActivity.java
/app/src/main/res/layout/activity_anonymous_auth.xml
/app/src/main/res/layout/activity_custom.xml
/app/src/main/res/layout/activity_firebase_ui.xml
/app/src/main/res/layout/activity_phone_auth.xml
/app/src/main/res/layout/activity_twitter.xml
/app/src/minSdkIcs/java/com/google/firebase/quickstart/auth/FacebookLoginActivity.java
/app/src/minSdkIcs/java/com/google/firebase/quickstart/auth/FirebaseUIActivity.java
/app/src/minSdkIcs/res/layout/activity_facebook.xml
/app/src/minSdkIcs/res/layout/activity_firebase_ui.xml
/app/src/minSdkJellybean/java/com/google/firebase/quickstart/auth/FacebookLoginActivity.java
/app/src/minSdkJellybean/java/com/google/firebase/quickstart/auth/FirebaseUIActivity.java
/app/src/minSdkJellybean/res/layout/activity_facebook.xml
/web/auth.html




service_account.json
